.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--background-color);
    padding: 11rem 2rem;
    gap: 2rem; /* Add gap between project cards */
}

@media (max-width: 1400px) {
    .projects-container {
        justify-content: space-around;
    }
}

/* Add these new rules */
.project-card {
    overflow: hidden;
    border-radius: 1rem;
    background-color: var(--text-color); /* Add background color to the card */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    width: calc(33.333% - 2rem); /* Set width for 3 cards per row, accounting for gap */
    max-width: 400px; /* Set a max-width to prevent cards from becoming too wide */
    margin-bottom: 2rem; /* Add margin to the bottom of each card */
}

.project-image {
    width: 100%;
    height: 200px; /* Adjust this value as needed */
    object-fit: cover; /* This ensures the image covers the area without distortion */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* Add styles for project name and description */
.project-info {
    padding: 1rem;
}

.project-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.project-description {
    font-size: 1rem;
    line-height: 1.4;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .project-card {
        width: calc(50% - 2rem); /* 2 cards per row on medium screens */
    }
}

@media (max-width: 768px) {
    .project-card {
        width: 100%; /* 1 card per row on small screens */
    }
}


